/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===== Color =====*/
:root {
  --first-color: whitesmoke;
  --second-color: #cdb8a2;
  --third-color: #b5bdab;
  --text-color: #b36530;
  --white-color: #ffffff;
  --dark-color: #3c564a;
}

/*===== Font =====*/
:root {
  --body-font: "Montserrat", sans-serif;
  --title-font: "Playfair Display", serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

/*===== Body Style =====*/
body {
  background-color: var(--first-color);
  font-family: var(--body-font);
}

/*===== Header Style =====*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

picture img {
  width: 120px;
  height: auto;
  margin: 10px;
  border-radius: 5%;
}

/*===== Navigation Style =====*/
nav {
  background-color: #36454f;
  margin: 0 auto;
}
nav ul {
  list-style-type: none;
}
nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--text-color);
  color: black;
}

.active {
  color: rgb(247, 255, 138);
}

.open li {
  display: block;
}

/*===== Hamburger Mebu Style =====*/

#ham-menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#ham-menu::before {
  content: "☰";
}

#ham-menu.open::before {
  content: "❎";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
  color: #fff;
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

.active::before {
  content: "💚 ";
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
  #ham-menu {
    display: none; /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
}

/*===== Main Style =====*/

#main {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(7vh, auto) minmax(7vh, auto) minmax(7vh, auto);
  grid-gap: 20px;
  padding: 50px;
}

h1,
h2 {
  color: var(--text-color);

  font-family: var(--title-font);
}

h2 {
  grid-column: 1/13;
  grid-row: 1/2;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: double;
}

.card {
  width: 100%;
  height: 200px;
  border: 2px solid var(--dark-color);
  background-color: var(--white-color);
  border-radius: 1rem;
}

.card-header {
  height: 30%;
  background: var(--dark-color);
  color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.left {
  grid-column: 1/13;
  grid-row: 2/3;
}

.right {
  grid-column: 1/13;
  grid-row: 3/4;
}

section ul li a {
  padding: 15px;
  text-decoration: none;
  color: var(--dark-color);
  font-family: var(--body-font);
  margin-bottom: 10px;
}

section ul {
  list-style-type: none;
}

/*===== Dark Mode =====*/
#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
}

/*===== Footer Style =====*/
footer {
  background-color: var(--third-color);
  padding: 15px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
