/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===== Color =====*/
:root {
  --first-color: whitesmoke;
  --second-color: #cdb8a2;
  --third-color: #b5bdab;
  --text-color: #b36530;
  --white-color: #ffffff;
  --dark-color: #3c564a;
}

/*===== Font =====*/
:root {
  --body-font: "Montserrat", sans-serif;
  --title-font: "Playfair Display", serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

/*===== Body Style =====*/
body {
  background-color: var(--first-color);
  font-family: var(--body-font);
}

/*===== Header Style =====*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

main {
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

header,
footer {
  height: 70px;
  background-color: var(--dark-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 50px;
}

h1 {
  margin: 20px;
  font-size: 1.5rem;
  text-align: center;
}

input,
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 1.1rem;
}

button {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

label {
  color: var(--text-color);
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder {
  font-size: 12px;
}

#keyphrase:invalid {
  background-color: var(--white-color);
  animation: shaketext 500ms;
}

/* input[required] ^ label::after {
	font-size: 10px;
	content: " *️⃣";
} */

.req::after {
  font-size: 10px;
  content: " *️⃣";
}

.smaller {
  font-size: 11px;
  position: absolute;
  top: -40px;
  right: 10px;
  padding: 50px;
}

@keyframes shaketext {
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}
